@font-face {
    font-family: Manrope;
    font-weight: 400;
    src: url("~/assets/fonts/Manrope/static/Manrope-Regular.ttf");
}
@font-face {
    font-family: Manrope;
    font-weight: 500;
    src: url("~/assets/fonts/Manrope/static/Manrope-Medium.ttf");
}
@font-face {
    font-family: Manrope;
    font-weight: 600;
    src: url("~/assets/fonts/Manrope/static/Manrope-Semibold.ttf");
}
@font-face {
    font-family: Manrope;
    font-weight: 700;
    src: url("~/assets/fonts/Manrope/static/Manrope-Bold.ttf");
}
